<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my email</a>
      
      <a class="btn btn-success" href="/user/skills">My Skills</a>
    </div>
  </div>

  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
