<div id="welcome">
  <div class="container">
    <h1>Welcome <%= me.fullName %>!</h1>
    <hr />
    <div class="buttons">
      <!-- <a class="btn btn-dark" href="/map" target="_blank">Map test</a> -->
    </div>

    <br>

    <% if(me.isSuperAdmin) { %>
    <a class="btn btn-success" href="/admin/manage-skills">Manage Skills</a>
    <hr>
    <a class="btn btn-warning" href="/api/v1/complaint/all">View Complaints</a>
    <% } else { %>
    <a class="btn btn-success" href="/user/skills">My Skills</a>
    <hr>
    <a class="btn btn-warning" href="/complaint/view-add">New Complaint</a>
    <% } %>
  </div>


</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>