<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="jumbotron">
        <h1 class="display-4">Welcome,!</h1>
        <p class="lead">This is a simple Test.</p>
        <hr class="my-4">
        <p>It demonstrates <strong>3</strong> points:</p>
        <ol>
          <li>
            Sign up / Log in
          </li>
          <li>
            ArcGis Map usage (Complaints system)
          </li>
          <li>
            Bootstrap and general WebApplication actions (Skills)
          </li>
        </ol>
        
      </div>
    </div>
  </div>
</div>